body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

:root{
    --blue: #0070cd;
    --gray: #999999;
    --black: #444444;
    --bg: #F7FAFC;
    --titles-font: "Nunito", Arial, sans-serif;
    --texts-font: "Open Sans", Arial, sans-serif;
    --poppins: "Poppins", Arial, sans-serif;
}


.header{
    box-sizing: border-box;
    width: 100%;
    max-height: 800px;
    padding-top: 35px;
    padding-left: 15%;
    padding-right: 15%;
    background-image: url("/img/bg/hero.jpg");
    background-position: right top;
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.header__container{
    display: flex;
}

.header__logo{
    width: 130px;
    height: 71px;
}

.menu{
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu__item{
    list-style-type: none;
    margin-right: 55px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    color: var(--gray);
    text-decoration: none;
    font-size: 16px;
    font-family: var(--texts-font);
}

.menu__link:hover{
    color: var(--blue);
}

.header__main{
    margin-top: 170px;
}

.header__title{
    font-family: var(--titles-font);
    font-size: 55px;
    color: var(--black);
    line-height: 75px;
    font-weight: 500;
}

.header__text{
    font-family: var(--texts-font);
    margin-top: 25px;
}

.text{
    font-size: 18px;
    color: var(--gray);
}

.contact-us{
    background: var(--blue);
    width: 240px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .3px;
    color: #ffffff;
    appearance: none;
    border: 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,.15);
    border-radius: 74px;
    margin-right: 10px;
    font-family: var(--texts-font);
}

.contact-us:hover{
    background: #00549a;
    cursor: pointer;
}
.contact-us:focus{
    outline: none;
}

.more{
    background: #ffffff;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
    appearance: none;
    letter-spacing: .3px;
    border: 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,.15);
    border-radius: 74px;
    font-family: var(--texts-font);
}
.more:hover{
    background-color: #F0F0F0;
    cursor: pointer;
}

.more:focus{
    outline: none;
}



/* speciality */



.speciality{
    background-color: #fff;
    padding-top: 120px;
}

.speciality__title{
    display: flex;
    justify-content: center;
}

h2{
    margin: 0;
    font-weight: 500;
}

.speciality__title{
    margin-bottom: 60px;
}

.main-title{
    color: var(--black);
    font-size: 36px;
    font-family: var(--titles-font);
}

.speciality__wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-right: 15%;
    padding-left: 15%;
    justify-content: space-between;
    padding-bottom: 10%;
}

.speciality__block{
    width: 210px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.speciality__block:hover{
    box-shadow: 0px 10px 40px rgba(32, 62, 84, 0.08);
}

.icon-bg{
    width: 80px;
    height: 80px;
    background-color: #eff8ff;
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    margin-top: 10px;
    max-width: 60px;

}

.speciality__heading{
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    font-family: var(--titles-font);

}

.speciality__desc{
    color: var(--gray);
    font-size: 14px;
    text-align: center;
    font-family: var(--texts-font);
}





/* patients */





.patients{
    background-color: var(--bg);
    height: 500px;
    width: 100%;
    padding-top: 100px;
}

.patients__title{
    display: flex;
    justify-content: center;
}


.slider{
    margin-top: 40px;
    max-width: 90%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    margin-bottom: 15px;
}

.item{
    width: 540px;
}

.slideWrapper{
    border: 1px solid #eff8ff;
    box-sizing: border-box;
    /* min-width: 440px;
    max-width: 540px; */
    width: 99%;
    height: 193px;
    background-color: #fff;
    border-radius: 8px;
    padding: 65px 40px 40px 40px;
    transition: background-color .5s;
    margin: 20px;
}
.slideWrapper:hover{
    background-color: var(--blue);
}
.slideWrapper:hover .patients__say{
    color: white;
}
.slideWrapper:hover .patients__name{
    color: white;   
}

.patients__say{
    font-family: var(--texts-font);
    color: var(--gray);
    font-size: 16px;
    transition: color .3s;
    line-height: 25px;
}

.patients__name{
    margin-top: 10px;
    font-family: var(--titles-font);
    font-size: 14px;
    color: var(--blue);
    font-weight: 600;
    transition: .3s;
}

.slider .prev, .slider .next {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 32%;
    width: 56px;
    box-sizing: border-box;
    margin-top: -22px;
    padding: 16px;
    color: var(--blue);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
}
.slider__slides{
    display: flex;
    justify-content: space-around;
    padding:0 120px;
    overflow: hidden;
}
.slider .next {
    right: 50px;
}
.slider .prev {
    left: 50px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: #d7ebfb;
}

.slider-dots {
    text-align: center;
    margin-top: 40px;
}

.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

.slider .item{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}




/* doctors */

.doctors{
    height: auto;
    padding-bottom: 100px;
    padding-top: 80px;
    background-color: #fff;
}

.doctors__title{
    text-align: center;
}



.card-container{
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.spec__wrapper{
    flex-basis: 48%;
    position: relative;
    margin: 20px 1%;
    transform-style: preserve-3d;
    transition-duration: 1s;
}

.spec__wrapper:hover{
    cursor: pointer;
}

.spec__wrapper--clicked{
    transform: rotateY(180deg);
}

.spec__wrapper--clicked .hello{
    z-index: 1;

}

.speciality__block{
    backface-visibility: hidden;
}

.hello{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: -1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.hello p{
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    flex-basis: 100%;
}

.swiper-container{
    width: 1030px;
    height: 240px;
    padding: 0 80px;
    display: flex;
    justify-content: space-around;
}
.swiper-slide{
    display: flex;
    justify-content: center;
}

.our__doctors{
    display: flex;
    justify-content: center;
    padding: 60px 0 0 0;
}

.doctor{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 200px;
}

.doctor:last-child{
    margin-right: 0;
}

.doctor__name{
    font-family: var(--texts-font);
    color: var(--black);
    font-size: 18px;
    text-align: center;
}

.doctor__spec{
    font-family: var(--texts-font);
    font-size: 12px;
    font-weight: 600;
    color: var(--blue);
    text-align: center;
    margin-top: 5px;
}


.doctor__number{
    display: flex;
    justify-content: center;
}


.doctor__number > a{
    text-decoration: none;
    color: var(--gray);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
}


/* request */

.request{
    background-color: var(--bg);
    height: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

.request__container{
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.request__info{
    display: flex;
    width: 450px;
    flex-direction: column;
    margin-right: 122px;
}


.request__info-title{
    margin-right: 90px;
    font-family: var(--poppins);
    font-size: 34px;
    font-weight: 600;
    align-self: center;
    color: var(--black);
}

.request__info-desc{
    color: var(--gray);
    font-size: 16px;
    font-family: var(--poppins);
    margin-top: 15px;
}

.request__ul{
    margin: 15px 0 0 0;
    padding: 0;
}

.request__li{
    list-style: none;
    line-height: 30px;
    font-family: var(--texts-font);
    color: var(--gray);
}

.request__form{
    box-sizing: border-box;
    box-shadow: 0px 3px 5px rgba(32, 62, 84, 0.08);
    border-radius: 8px;
    width: 384px;
    height: auto;
    background-color: #fff;
    padding: 30px 55px;
    display: flex;
    flex-direction: column;
}
.mini-title{
    text-align: center;
    font-family: var(--poppins);
    font-weight: bold;
    font-size: 18px;
    color: var(--black);
    /* letter-spacing: 1px; */
}

.request__form > input{
    background-color: var(--bg);
    border-color: #E6EAF4;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    height: 32px;
    font-size: 16px;
    font-family: var(--texts-font);
    font-weight: 600;
    color: var(--black);
}
.request__form > p{
    font-family: var(--texts-font);
    color: var(--black);
    margin: 25px 0 0 0;
}

.inp-container{
    padding-top: 10px;
    display: flex;
}

.input-radio-text{
    margin-right: 10px;
    font-family: var(--texts-font);
    color: var(--black);
}

.request__sign{
    align-self: center;
    margin-top: 20px;
    background: var(--blue);
    width: 180px;
    height: 53px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .3px;
    color: #ffffff;
    appearance: none;
    border: 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,.15);
    border-radius: 12px;
    margin-right: 10px;
    font-family: var(--texts-font);
}

.request__sign:hover{
    background: #00549a;
    cursor: pointer;
}

.request__sign:focus{
    outline: none;
}

body{
    height: 3900px;
}

/* footer */
.footer{
    position: fixed;
    height: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
 
.footer__container{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.footer__item{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    align-items: center;
    width: 200px;
}

.footer__item:last-child{
    margin-right: 0;
}

.footer__title{
    text-align: center;
    font-family: var(--poppins);
    font-size: 18px;
    color: var(--black);
    /* font-weight: 600; */
}

.footer__desc{
    margin-top: 3px;
    color: var(--gray);
    font-family: var(--poppins);
    font-size: 14px;
}